{% if not disable_src %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endif %}

<div class="border-b border-t border-gray-300 py-2">
    <ul class="flex space-x-5">
        <li class="border-b-2 border-transparent hover:border-[7816db] active:border-[7816db]"><a href="#">По преподавателям</a></li>
        <li class="border-b-2 border-transparent hover:border-[7816db] active:border-[7816db]"><a href="#">По группам</a></li>
        <li class="border-b-2 border-transparent hover:border-[7816db] active:border-[7816db]"><a href="#">По аудиториям</a></li>
        <li class="border-b-2 border-transparent hover:border-[7816db] active:border-[7816db]"><a href="#">Редактировать расписание</a></li>
    </ul>
</div>