{% load static %}

{% if not disable_src %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endif %}

<div class="flex justify-between items-center py-4 bg-opacity-100">
    <h1 style="font-size: 24pt" class="text-xl font-semibold text-black">Расписание / Текст</h1>
    
    <div class="w-fit bg-white rounded-[12px] border-none flex items-center gap-2 px-4 py-2 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
        </svg>
        {% if profile_photo %}
            <img src="{% url 'profile_photo' %}" alt="Avatar" class="w-10 h-10 rounded-full object-cover" />
        {% else %}
            <img src="{% static 'img/unknown.png' %}" alt="Avatar" class="w-10 h-10 rounded-full object-cover" />
        {% endif %}
        <p>
            Admin
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
          
    </div>
</div>
