{% load static %}

{% if not disable_src %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endif %}


<div class="flex flex-col bg-white border rounded-[12px] p-4 space-y-2 flex-1">
    <div class="flex items-center space-x-2">
      <div class="w-3 h-3 bg-blue-500 rounded-full"></div>
      <span class="text-gray-600 text-sm">Всего клиентов</span>
    </div>
    <p class="text-2xl font-semibold text-black">44</p>
    <div class="text-green-600 text-sm">+10% за месяц</div>
    <div class="text-gray-400 text-sm">(40 в прошлом месяце)</div>
</div>