{% if not disable_src %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endif %}


<div class="bg-white grid grid-cols-5 grid-rows-2 p-4 gap-x-3 rounded-[15px]">
    <div>Преподаватель</div>
    <div>Группа</div>
    <div>Предмет</div>
    <div>Дата</div>
    <div></div>

    {% include 'elements/frame6.html' %}
    {% include 'elements/frame6.html' %}
    {% include 'elements/frame6.html' %}
    {% include 'elements/frame7.html' %}
    {% include 'elements/frame8.html' %}


</div>
