{% if not disable_src %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
{% endif %}

<div>
  <table class="min-w-full table-fixed border border-gray-300 font-100">
    <thead class="bg-[f0e5fb] text-black ">
      <tr><td class="px-4 py-2 forn-bold" colspan="8">Иванова Виктория Андреевна</td></tr>
      <tr>
        <th class="px-2 py-2 border border-gray-300">Пары</th>
        <th class="px-2 py-2 border border-gray-300">Пн</th>
        <th class="px-2 py-2 border border-gray-300">Вт</th>
        <th class="px-2 py-2 border border-gray-300">Ср</th>
        <th class="px-2 py-2 border border-gray-300">Чт</th>
        <th class="px-2 py-2 border border-gray-300">Пт</th>
        <th class="px-2 py-2 border border-gray-300">Сб</th>
        <th class="px-2 py-2 border border-gray-300">Вс</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">1</td>
        <td class="border border-gray-300 px-2 py-2">2</td>
        <td class="border border-gray-300 px-2 py-2">3</td>
        <td class="border border-gray-300 px-2 py-2">4</td>
        <td class="border border-gray-300 px-2 py-2">5</td>
        <td class="border border-gray-300 px-2 py-2">6</td>
        <td class="border border-gray-300 px-2 py-2">7</td>
        <td class="border border-gray-300 px-2 py-2">8</td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">2</td>
        <td class="border border-gray-300 px-2 py-2">9</td>
        <td class="border border-gray-300 px-2 py-2">10</td>
        <td class="border border-gray-300 px-2 py-2">11</td>
        <td class="border border-gray-300 px-2 py-2">12</td>
        <td class="border border-gray-300 px-2 py-2">13</td>
        <td class="border border-gray-300 px-2 py-2">8</td>
        <td class="border border-gray-300 px-2 py-2">14</td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">3</td>
        <td class="border border-gray-300 px-2 py-2">15</td>
        <td class="border border-gray-300 px-2 py-2">16</td>
        <td class="border border-gray-300 px-2 py-2">17</td>
        <td class="border border-gray-300 px-2 py-2">18</td>
        <td class="border border-gray-300 px-2 py-2">19</td>
        <td class="border border-gray-300 px-2 py-2">20</td>
        <td class="border border-gray-300 px-2 py-2">21</td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">4</td>
        <td class="border border-gray-300 px-2 py-2">22</td>
        <td class="border border-gray-300 px-2 py-2">23</td>
        <td class="border border-gray-300 px-2 py-2">24</td>
        <td class="border border-gray-300 px-2 py-2">25</td>
        <td class="border border-gray-300 px-2 py-2">26</td>
        <td class="border border-gray-300 px-2 py-2">27</td>
        <td class="border border-gray-300 px-2 py-2">28</td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">5</td>
        <td class="border border-gray-300 px-2 py-2">30</td>
        <td class="border border-gray-300 px-2 py-2">8</td>
        <td class="border border-gray-300 px-2 py-2">31</td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">6</td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2">8</td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border border-gray-300 px-2 py-2">7</td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2">8</td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
        <td class="border border-gray-300 px-2 py-2"></td>
      </tr>
    </tbody>
  </table>
</div>
